<app-leafs></app-leafs>

<swiper [config]="config">
  <div class="parallax-bg"   data-swiper-parallax="-20%"></div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-700">Sobre mi</div>
      <div class="subtitle" data-swiper-parallax="-200">Yo soy Jethro</div>
      <div class="text" data-swiper-parallax="-100">
        <p>Nacionalidad Mexicana <br>
          Soy un programador y diseñador Web desde Noviembre del 2019. <br>
          Apasionado por la tecnología, me encanta estudiar programación pero sobre todo soy un Gamer de corazón.
          </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Sobre mi</div>
      <div class="subtitle" data-swiper-parallax="-200">Aptitudes</div>
      <div class="text" data-swiper-parallax="-100">
        <p>Gran sentido de la responsabilidad.
          muy amigable: generalmente me puedo llevar bien con todo tipo de personas, tengo todo un gran abanico de temas para hablar, tambien soy de los que si veo que alguien tiene dificultades en algo, trato de apoyar lo más que pueda sin descuidar mi área de trabajo <br>
          Apasionado por aprender nuevas cosas, sobre todo nuevas tecnologías. 
          </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Sobre mi</div>
      <div class="subtitle" data-swiper-parallax="-200">Trabajo en equipo</div>
      <div class="text" data-swiper-parallax="-100">
        <p>Buena Comunicacion con mi Equipo, <br>
          Puedo apoyar a mis compañeros siempre que esté disponible o la situación lo amerite. <br>
          puedo entablar una buena amistad siempre y cuando asi lo deseen mis compañeros. <br>
          todos somos un equipo por lo tanto no permito que mis compañeros queden atrás 
          
          </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Sobre mi</div>
      <div class="subtitle" data-swiper-parallax="-200">Contrapartes</div>
      <div class="text" data-swiper-parallax="-100">
        <p>Soy Perfeccionista en el ámbito que no puedo descansar o dejar algo si no estoy algo satisfecho con el resultado final. por lo que puedo perder o tomarme más tiempo con el propósito de dejar bien mi trabajo. si veo que no puedo mejorarlo más o está lo suficientemente sólido para funcionar como debe, puedo continuar con las siguientes labores. <br>
          Soy despistado cuando me concentro en algo. Es difícil prestar atención a algo más cuando estoy concentrado en el trabajo que hago.          
          </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Sobre Mi</div>
      <div class="subtitle" data-swiper-parallax="-200">Objetivos de Carrera</div>
      <div class="text" data-swiper-parallax="-100">
        <p>Trabajar en todo el ámbito de la programación es solo un pequeño paso para mis ambiciones.
          El desarrollo Web me facilita poder practicar y emprender nuevos proyectos para comprender el cómo funciona todo el sistema actual y futurista en cómo se está moviendo la economía, entretenimiento y nuevas formas de facilitar la vida laboral          
          </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="title" data-swiper-parallax="-300">Sobre Mi</div>
      <div class="subtitle" data-swiper-parallax="-200">Mis ambiciones a futuro</div>
      <div class="text" data-swiper-parallax="-100">
        <p>Poder desarrollar videojuegos como programador y crear Inteligencia Artificial. 
          Es un largo camino pero también el desarrollo de aplicaciones para la Web, Celulares y/o Aplicaciones de Escritorio son importantes para poder llegar a este que es mi objetivo final
          
          </p>
      </div>
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-white"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</swiper>
