<div class="title" style="background-color: black; text-align: center;">
  <h1 style="color: white;">Some Proyects</h1>
</div>

<div class="works">

  <div class="container">
    <div class="card">
      <img
        src="https://res.cloudinary.com/dyjo8cam3/image/upload/v1628913508/Proyectos/cloudinary_1_lwuwpj.png"
      />
      <div class="card__head">Cloudinary Gallery</div>
    </div>
    <div class="card">
      <img
        src="https://res.cloudinary.com/dyjo8cam3/image/upload/v1628913511/Proyectos/E-comer_6_qe3vks.png"
      />
      <div class="card__head">E-Comer</div>
    </div>
    <div class="card">
      <img
        src="https://res.cloudinary.com/dyjo8cam3/image/upload/v1628913490/Proyectos/socialred_1_ddvzsu.png"
      />
      <div class="card__head">Social</div>
    </div>
    <div class="card">
      <img
        src="https://res.cloudinary.com/dyjo8cam3/image/upload/v1628913089/Proyectos/IonicApi_2_n9yz7k.png"
      />
      <div class="card__head">Apps API</div>
    </div>
    <div class="card">
      <img
        src="https://res.cloudinary.com/dyjo8cam3/image/upload/v1628914852/Proyectos/Captura_de_pantalla_22_zsyhgx.png"
      />
      <div class="card__head">Login Auth</div>
    </div>
  </div>
</div>
