/* Made with love by Mutiullah Samim*/
@import '../../shared/animations/animations.scss';

.container-login {
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Numans", sans-serif;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.social_intro{
  animation: jello-horizontal 0.9s;
  animation-fill-mode: backwards;    
  font-size: 2rem;
  
  span {
    //con esto hara que el animation en los span funcione correctamente
    display: inline-flex;

  }

  :hover{
    color: #409bc1;
    animation: jello-horizontal 0.9s;    
  }
}


.social_icon {
  position: absolute;
  right: 20px;
  top: -50px;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #56bb6c;

  :hover {
    color: #409bc1;
    animation: jello-horizontal 0.9s;
    cursor: pointer;
  }
}

.links a {
  margin-left: 4px;
}
