.container-mg {
  background-image: url("https://res.cloudinary.com/dyjo8cam3/image/upload/v1628909479/background-triagles_bejkme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  align-content: center;
}

.row {
  display: grid;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  width: 100%;
}

.sphere{
  overflow: hidden;
}