<div class="container-mg">
  <div class="container">
    <h2>Skills y Experiencia:</h2>

    <p>
      Desde que empeze como Freelancer Web Developer en 2019 eh estado buscando
      y descubriendo nuevas tecnologías para desarrollar y enriquecer mi
      experiencia como programador <br />

      Me he vuelto completamente flexible en cualquier ámbito tanto en el
      Frontend como el Backend creando pequeñas y medianas aplicaciones web,
      mientras que mi código implementa buenas prácticas de por medio a lo largo
      de mi trabajo.
    </p>

    <div class="container">
      <div class="row">
        <div class="col">
          <div id="lenguage"></div>
        </div>
        <div class="col">
          <div id="database"></div>
        </div>
        <div class="col">
          <div id="frontend"></div>
        </div>
        <div class="col">
          <div id="backend"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Styles</h3>
          <div id="styles"></div>
        </div>
        <div class="col">
          <h3>Extras</h3>
          <div id="extras"></div>
        </div>
        <div class="sphere col">
          <canvas id="sphere"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
