<div class="container-mg">
  <div class="container">
    <h1>My Skills Experience</h1>

    <div class="container">
      <div class="row">
        <div class="col">
          <div id="lenguage"></div>
        </div>
        <div class="col">
          <div id="database"></div>
        </div>
        <div class="col">
          <div id="frontend"></div>
        </div>
        <div class="col">
          <div id="backend"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Extras:</h1>
      <div class="row">
        <div class="col">
          <h3>Styles</h3>
          <div id="styles"></div>
        </div>
        <div class="col">
          <h3>Others</h3>
          <div id="extras"></div>
        </div>
        <div class="col">
          <p>
            Git:Github,GitLab <br />
            AppDev: Ionic, ReactNative <br />
            Charts: C3, ChartsJS <br>
            Payments: Stripe(Low), Paypal (low) <br />
            <strong>Also: Redux, JsonWebToken, Firebase Functions</strong> <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
